body {
  padding-top: 50px;
  font-weight: 300;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thumbnail {
  color: black;
  text-decoration: none;
  border: none;
}

a:hover {
  text-decoration: none;
  color: #5a5a5a;
}


.marketing .col-lg-4 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content {
  padding: 40px 15px;
}

.form-inline {
  width: 30%;
  display: inline-block;
  margin: 0px 5px;
}

.green-text {
  background-color: #99ff99;
}

.yellow-text {
  background-color: #ffff99;
}

.red-text {
  background-color: #ff9999;
}