body {
  padding-top: 50px;
  font-weight: 300;
  -webkit-print-color-adjust:exact;
  background-color: rgb(221,234,248);
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h1, h3 {
  font-family: 'Cutive', serif;

}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Cutive', serif;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse,
.container>.navbar-header, 
.container>.navbar-collapse {
  background-color: rgb(83,150,222);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-toggle {
  background-color: rgb(32,99,170);
}

.btn {
  /*background-color: white;*/
  background-color: rgb(83,150,222);
  color: white;
}

#treesvg,
#graph-svg1,
#calendar-output0,
.booklet-page {
  background-color: white;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thumbnail {
  color: black;
  text-decoration: none;
  border: none;
  background-color: rgb(221,234,248);
  /*background-color: rgb(253, 244, 182);*/
  /*background-color: rgb(83,150,222)*/
}

a:hover {
  text-decoration: none;
  color: #5a5a5a;
}


.marketing .col-lg-4 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content {
  padding: 40px 15px;
}

.green-text {
  background-color: #99ff99;
}

.yellow-text {
  background-color: #ffff99;
}

.red-text {
  background-color: #ff9999;
}

.form-inline {
  width: 300px;
  display: inline-block;
  margin: 5px;
}

.form-inline-small {
  width: 100px;
}

.form-inline-smaller {
  width: 64px;
}
