#flowchart-canvas,
#booklet-canvas {
  /*width:960px;*/
  margin:10px auto;
}

rect{
  fill:none;
  /*stroke:grey;  */
  /*stroke-width:1px;*/
}

line{
  stroke:grey;
  stroke-width:1px;
}

#treesvg g text:hover, 
#treesvg g rect:hover{
  cursor:pointer;
}

#treesvg{
  border:1px solid grey;
}

#g_labels text {
  font: 11px sans-serif;
}

.booklet-page {
  margin: 45px 0px;
}

.booklet-page table {
  border: 1px solid grey;
  table-layout: fixed;
  /*font-size: 36px;*/
/*  page-break-after: always;
  page-break-before: always;*/
}

.booklet-page td {
  border: 1px dashed grey;
  width: 350px;
  text-align: center;
}

.booklet-page tr {
  border: 1px dashed grey;
  height: 410px;
  /*background-color: grey;*/
}

.options-table table {
  table-layout: fixed;
  background-color: grey;
}

.options-table tr {
  height:60px;
  font-size: 20px;
  background-color: lightgrey;
}

.booklet-text {
  vertical-align: middle;
  font-size: 24px;
  border: 1px solid grey;
  position: relative;
  text-align: center;
  display: table-cell;
}

.booklet-stop {
  background-color: #ff9999;
  position: absolute;
  bottom: 0;
  width: 345px;
  font-size: 20px;
  padding:2px;
  /*height: ;*/
  border: 1px solid grey;
}

.booklet-number {
  font-size: 16px;
  position: relative;
  top: 0;
  text-align: right;
  padding-right: 10px;
}

.option-active {
  /*color: white;*/
}

#option-inactive {
  color: white;
  background-color: white;
}

.instructions-thumbnail {
  width: 100%;
  max-height: 100px;
}

@media print {
  body * { visibility: hidden; }
  #flowchart-canvas * { visibility: visible; }
  #flowchart-canvas { 
    position: absolute; 
    top: 0px; 
    left: 20px; 
    margin: 0px;
  }
  #booklet-canvas * { visibility: visible; }
  #booklet-canvas {
    /*position: absolute;*/
    padding: 0px;
    margin: 0px;
    /*top: 0px;*/
    /*left: 20px;*/
    /*margin: 0px;*/
    width: 100%;
    border: 1px solid grey;
    page-break-before: always;
  }
  .booklet-page {
    margin: 4.5px 0px;
    /*page-break-after: always;*/
    /*page-break-before: always;*/
  }

  .booklet-print-page {
    page-break-after: always;
  }

  .options-table tr {
    background-color: lightgrey !important;
  }

  .booklet-stop {
    background-color: #ff9999 !important;
    width: 335px;
  }

  #option-inactive {
    color: white !important;
    background-color: white !important;
  }
}
