#flowchart-canvas{
  width:960px;
  margin:10px auto;
}

rect{
  fill:none;
  /*stroke:grey;  */
  /*stroke-width:1px;*/
}

line{
  stroke:grey;
  stroke-width:1px;
}

#treesvg g text:hover, 
#treesvg g rect:hover{
  cursor:pointer;
}

#treesvg{
  border:1px solid grey;
}

#g_labels text {
  font: 11px sans-serif;
}

.booklet-page table {
  border: 1px solid grey;
  table-layout: fixed;
}

.booklet-page td {
  border: 1px solid grey;
  width: 200px;
  text-align: center;
}

.booklet-page tr {
  border: 1px solid grey;
  height: 300px;
}

.options-table table {
  table-layout: fixed;
}

.options-table tr {
  height:40px;
  font-size: 12px;
}

.booklet-text {
  vertical-align: middle;
}

