body {
}

.arc path {
  stroke: #fff;
}

.graph-img-class {
  /*width: 225px;*/
  /*height: 330px;*/
}

.graph-axis-class {
  /*width: 225px;*/
  /*height: 330px;*/
  position: absolute;
}

#graph-yaxis-img {
/*  margin-left: 215px;
  margin-top: 25px;*/
}

#graph-xaxis-img {
/*  margin-left: 100px;
  margin-top: 145px;*/
}

#graph-caxis-img {
/*  margin-left: 225px;
  margin-top: 25px;*/
}

.input-group {
  padding-top: 5px;
  padding-bottom: 5px;
}

.graph-border-class {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.graph-cut-border {
  fill: none;
  stroke: red;
  stroke-width: 2;
}

.graph-cut-center {
  fill: red;
  stroke: red;
  stroke-width: 2;
}

.graph-border-white {
  fill: white;
  strong: white;
  stroke-width: 0;
}

@media print {

  @page {
    size: landscape;
  }

  body * { visibility: hidden; }

  #calendar-output1 *,
  #calendar-output2 *,
  #calendar-output3 *,
  #calendar-output4 * { visibility: visible; }

  #graph-img-div * { visibility: hidden; display: none;}
  #graph-svg1-div *,
  #graph-svg1-top-div *, 
  #graph-svg2-div * {
    visibility: visible;
    /*position: relative;*/
/*    page-break-before: always;
    page-break-after: always;
    margin: 0;
    padding: 0;*/
  }

  #graph-svg1-top-div {
    z-index: 2;
  }

  #graph-svg-div {
    page-break-before: always;
  }

  /*#graph-svg1,*/
  #graph-svg2 {
    /*margin-top: 50px;*/
    page-break-before: always;
    position: relative;
  }

/*  img {
    position: absolute !important;
  }*/
  /*#graph-svg1-top-div * { visibility : visible;}*/
/*  #flowchart-canvas { 
    position: absolute; 
    top: 0px; 
    left: 20px; 
    margin: 0px;
  }*/
/*  #booklet-canvas * { visibility: visible; }
  #booklet-canvas {
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    width: 100%;
    border: 1px solid grey;
  }
  .booklet-page {
    margin: 4.5px 0px;
  }

  .options-table tr {
    background-color: lightgrey !important;
  }

  .booklet-stop {
    background-color: #ff9999 !important;
  }

  #option-inactive {
    color: white !important;
    background-color: white !important;
  }*/
}