body {
}

.arc path {
  stroke: #fff;
}

.graph-img-class {
  /*width: 225px;*/
  /*height: 330px;*/
}

.graph-axis-class {
  /*width: 225px;*/
  /*height: 330px;*/
  position: absolute;
}

#graph-yaxis-img {
/*  margin-left: 215px;
  margin-top: 25px;*/
}

#graph-xaxis-img {
/*  margin-left: 100px;
  margin-top: 145px;*/
}

#graph-caxis-img {
/*  margin-left: 225px;
  margin-top: 25px;*/
}

.input-group {
  padding-top: 5px;
  padding-bottom: 5px;
}

.graph-border-class {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.graph-cut-border {
  fill: none;
  stroke: red;
  stroke-width: 2;
}

.graph-cut-center {
  fill: red;
  stroke: red;
  stroke-width: 2;
}

.graph-border-white {
  fill: white;
  strong: white;
  stroke-width: 0;
}

@media print {
  body * { visibility: hidden; }

  #calendar-output1 *,
  #calendar-output2 *,
  #calendar-output3 *,
  #calendar-output4 * { visibility: visible; }

  #graph-svg-div * {visibility : visible;}
/*  #flowchart-canvas { 
    position: absolute; 
    top: 0px; 
    left: 20px; 
    margin: 0px;
  }*/
/*  #booklet-canvas * { visibility: visible; }
  #booklet-canvas {
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 0px;
    width: 100%;
    border: 1px solid grey;
  }
  .booklet-page {
    margin: 4.5px 0px;
  }

  .options-table tr {
    background-color: lightgrey !important;
  }

  .booklet-stop {
    background-color: #ff9999 !important;
  }

  #option-inactive {
    color: white !important;
    background-color: white !important;
  }*/
}